# macos
**.DS_Store

# build
bin/
dist/
build/
wheelhouse/
*.egg-info/
*.py[co]

# tests
.tox
__pycache__/
.cache
.python-version
.pytest_cache/

# codecoverage
.coverage
htmlcov/
coverage.xml

# virtualenv
saul-dev/
